
$buttonColor: #f08e0d;
$borderColor: #c5c5c5;

.accordion{
    
    .accordion-header{
        position: relative;
        padding: 1rem;
        
        font-size: 18px;
        font-weight: bold;
        
        border: 1px solid $borderColor;
        
        border-style: solid none none;
        border-width: 1px medium 0;
        
        .icon{
            position: absolute;

            height: 40px;
            width: 40px;
            
            text-indent: 0!important;
            overflow: visible!important;

            &:after {
                
                
            }
            &.plus-minus-circle{
                top: 5px;
                right: 5px;
                &:after {
                    border: 2px solid $buttonColor;
                    border-radius: 100%;
                    box-sizing: border-box;

                    color: $buttonColor;
                    content: "+"!important;
                    
                    text-align: center;
                    font-size: 27px;
                    font-weight: 400;
                    
                    opacity: 1;
                    padding: 0px 10px;
                }
            }
            &.arrow-empty{
                top: 10px;
                right: 10px;
                
                background-color: $buttonColor;
    		    -webkit-mask-image: url(/vendor/bootstrap-accordion-integrator/images/arrow_up_no_compact.svg);
    		    mask-image: url(/vendor/bootstrap-accordion-integrator/images/arrow_up_no_compact.svg);
    		    width: 30px;
    		    height: 30px;
            }
            &.arrow-full{
                top: 15px;
                right: 15px;
                
                background-color: $buttonColor;
    		    -webkit-mask-image: url(/vendor/bootstrap-accordion-integrator/images/arrow_up_compact.svg);
    		    mask-image: url(/vendor/bootstrap-accordion-integrator/images/arrow_up_compact.svg);
    		    width: 25px;
    		    height: 25px;
                
                -webkit-mask-size: 25px;
                mask-size: 25px;
            }
            &.angle-fontawesome-free{
                top: 15px;
                right: 0px;
                &:after {
                    content: "\f106"; /* fa-chevron-down */
                    font-family: 'FontAwesome';
                    color: $buttonColor;
                }
            }
            &.angle-fontawesome-pro{
                top: 15px;
                right: 0px;
                &:after {
                    content: "\f106"; /* fa-chevron-down */
                    font-family: 'Font Awesome 5 Pro';
                    color: $buttonColor;
                }
            }
            &.caret-fontawesome-free{
                top: 15px;
                right: 0px;
                &:after {
                    content: "\f0d8"; /* fas fa-caret-down */
                    font-family: 'FontAwesome';
                    color: $buttonColor;
                }
            }
            &.caret-fontawesome-pro{
                top: 15px;
                right: 0px;
                &:after {
                    content: "\f0d8"; /* fas fa-caret-down */
                    font-family: 'Font Awesome 5 Pro';
                    color: $buttonColor;
                }
            }
        }
        &[aria-expanded="true"]{
            .icon{
                &.plus-minus-circle{
                    &:after {
                        content: "-"!important;
                        padding: 0px 13px;
                    }
                }
                &.arrow-full, &.arrow-empty{
                    transform: rotate(180deg);
                }
                &.angle-fontawesome-free{
                    &:after {
                        content: "\f107"; /* fa-chevron-up */
                    }
                }
                &.angle-fontawesome-pro{
                    &:after {
                        content: "\f107"; /* fa-chevron-up */
                    }
                }
                &.caret-fontawesome-free{
                    &:after {
                        content: "\f0d7"; /* fas fa-caret-up */
                    }
                }
                &.caret-fontawesome-pro{
                    &:after {
                        content: "\f0d7"; /* fas fa-caret-up */
                    }
                }
                
                
            }
        }
    }
    .accordion-body{
        border-width: 1px 0 0;
        border-style: solid;
        border-color: #c5c5c5;
        
        .accordion-body-content{
            padding: 1rem;
        }
    }
    
}
