
$buttonColor: #f08e0d;
$borderColor: #c5c5c5;

.accordion{
    
    .accordion-header{
        position: relative;
        padding: 1rem;
        
        font-size: 18px;
        font-weight: bold;
        
        border: 1px solid $borderColor;
        
        border-style: solid none none;
        border-width: 1px medium 0;
        
        .icon{
            position: absolute;
            top: 5px;
            right: 5px;

            height: 40px;
            width: 40px;
            
            text-indent: 0!important;
            overflow: visible!important;

            &:after {
                /*background: #fff;*/
                border: 2px solid $buttonColor;
                border-radius: 100%;
                box-sizing: border-box;

                color: $buttonColor;
                content: "+"!important;
                
                text-align: center;
                font-size: 27px;
                font-weight: 400;
                
                opacity: 1;
                padding: 0px 10px;
            }
        }
        &[aria-expanded="true"]{
          .icon{
              &:after {
                  content: "-"!important;
                  padding: 0px 13px;
              }
          }
        }
    }
    .accordion-body{
        padding: 1rem;
        
        border-width: 1px 0 0;
        border-style: solid;
        border-color: #c5c5c5;
    }
    
}
